# Dependencies
node_modules/
.pnp
.pnp.js

# Build artifacts
dist/
build/
.out/
.next/
coverage/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/

# Env files
.env
.env.*
*.env.local

# Tooling
.turbo/
.vercel/
.cache/
.docs/
docs/api/

# Misc
*.pem
