# Node / PNPM / TS / Build
node_modules/
.pnpm-store/
.pnp.*
dist/
.eslintcache
.turbo/
.cache/
coverage/
*.log
*.tsbuildinfo

# PNPM packs
.packs/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vite / Next / VitePress / Typedoc
.vite/
.next/
docs/.vitepress/cache/
docs/.vitepress/dist/
typedoc/

# Changesets temp
.changeset/pre.json

# Sandbox / tmp
.sandbox/
tmp/
